.tasks_nav {
  align-self: self-start;
  width: 30%;
  margin-bottom: 40px;
}

.ul {
  list-style-type: none;
  display: flex;
  min-height: 100%;
}

.li {
  text-align: center;
  width: max-content;
  flex: 1;
}

.full_height {
  min-height: 100%;
}

.m_left {
  margin-left: 10px;
}

.m_top {
  margin-top: 10px;
}

.active {
  background-color: rgb(175, 97, 97);
}

.nb {
  border: 2px solid #000;
  width: 50%;
  float: left;
  margin-right: 10px;
}

/* Задание 2: Границы */
.bordered_paragraph {
  width: fit-content;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  padding: 10px;
}

/* Задание 3: Подложка и надпись */
.ground {
  font-size: 50px;
  color: lightgrey;
  text-align: center;
  position: relative;
}

.poster {
  color: brown;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Задание 4: Колонки */
.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
}

.drop_cap {
  font-size: 40px;
  float: left;
  margin-right: 5px;
}

/* Задание 5: Области с линейками прокрутки */
.scrollable_area {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 150px; /* Высота области с вертикальной прокруткой */
  overflow-y: auto; /* Вертикальная прокрутка */
}

.horizontalScroll {
  display: flex; /* Используем flexbox для горизонтальной прокрутки */
  overflow-x: auto; /* Горизонтальная прокрутка */
  white-space: nowrap; /* Запрещаем перенос строк */
}

.horizontalScroll p {
  margin-right: 20px; /* Отступ между абзацами */
}

/* Задание 6: Преобразование элементов */
.element_transformation {
  margin: 20px 0;
}

.element_transformation > div {
  background-color: #007bff;
}

.element_transformation > span {
  background-color: #00ff84;
}

.inline_element {
  display: inline;
}

.block_element {
  display: block;
  margin-top: 10px;
}

/* Задание 7: z-index и позиционирование */
.container {
  position: relative;
  width: 300px;
  height: 100px;
  margin: auto;
}

.layer1,
.layer2,
.layer3 {
  position: absolute;
  font-size: 50px;
  color: white;
  text-align: center;
}

.layer1 {
  z-index: 1;
  left: 0;
  top: 0;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.7);
}

.layer2 {
  z-index: 2;
  left: 5px;
  top: 5px;
  text-shadow: 2px 2px rgba(0, 255, 0, 0.7);
}

.layer3 {
  z-index: 3;
  left: 10px;
  top: 10px;
  text-shadow: 2px 2px rgba(0, 0, 255, 0.7);
}
