.text_field {
  flex-direction: column;
  max-width: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-block {
  flex-direction: column;
  max-width: 100%;
  width: 70%;
}

.tasks_nav {
  align-self: self-start;
  width: 30%;
}

.ul {
  list-style-type: none;
}

.li {
  text-align: center;
  width: max-content;
}

.m_left {
  margin-left: 10px;
}

.m_top {
  margin-top: 10px;
}

.active {
  background-color: rgb(175, 97, 97);
}

.centered_iframe {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  background-color: antiquewhite;
}

.table {
  border: 1px solid salmon;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table > thead > tr > th {
  border: 2px solid saddlebrown;
}

.table > tbody > tr > td {
  border: 2px solid saddlebrown;
}

.table > tfoot > tr > td {
  border: 2px solid saddlebrown;
}
